#container{
    border: 1px solid gray;
     width: 40%;
     margin: auto;
 }div{
    
     font-family: sans-serif;
     padding: 10px;
 }

 .azul{
     background-color: steelblue;
 }

 .amarelo{
     background-color: orange;
 }

 .centro{
     text-align: center;
 }
 
 #logo{
     width: 90%;
 }
 button{
     border: 1px solid gray;
 }

 #tbcli{
     width: 70%;
     margin: auto;
     border: 1px solid grey;
 }
 thead{
     background-color: grey;
     font-weight: bold;
    
 }

 thead td{
    padding: 10px;
 }


  td{
    padding: 5px;
 }

 table{
     width: 100%;
 }